<nav id="nav">
  <div>
    <a class="navText btn btn-warning btn-md" href="/">Home</a>
    <a class="navText btn btn-warning btn-md" href="/about">About</a>
    <a class="navText btn btn-warning btn-md" href="/mangas">Manga List</a>
    <a class="navText btn btn-warning btn-md" href="/mangas/new">Add Manga</a>
    <a class="navText btn btn-warning btn-md" href="/login">Login</a>
    <a class="navText btn btn-warning btn-md" href="/signup">Sign Up</a>
  </div>
</nav>
