<%- include('partials/header'); %>
<title>About Me | Kenhie</title>
<%- include('partials/styles'); %>
<body class="d-flex flex-column min-vh-100">
<%- include('partials/nav'); %>
<h1>About Me</h1>
<%- include('partials/footer'); %>
