<!-- HEADER PARTIAL -->
<!-- HEADER PARTIAL  -->
<%- include('partials/header'); %>

<title>Sign Up | Kenhie</title>

<!-- STYLE PARTIAL -->
<%- include('partials/styles'); %>
<body class="page-common d-flex flex-column min-vh-100"></body>

<!-- NAVIGATION PARTIAL -->
<%- include('partials/nav'); %>

<form action="/auth" method="post">
  <div class="container">
    <div class="row position-absolute w-25 top-50 start-50 translate-middle">
      <h1>Welcome Back!</h1>
      <label for="username" class="form-label">Username: </label>
      <input class="form-control" type="text" name="username" id="username">
      <label for="password" class="form-label mt-3">Password: </label>
      <input class="form-control" type="password" name="password" id="password">
      <div class="w-75">
        <button class="btn btn-primary mt-3">Login</button>
      </div>
    </div>
  </div>
</form>

<!-- FOOTER PARTIAL -->
<%- include('partials/footer'); %>
