<!-- HEADER PARTIAL -->
<!-- HEADER PARTIAL  -->
<%- include('partials/header'); %>

<title>Sign Up | Kenhie</title>

<!-- STYLE PARTIAL -->
<%- include('partials/styles'); %>

<!-- NAVIGATION PARTIAL -->
<%- include('partials/nav'); %>
<form action="" method="get">
  <div class="col col-6 col-md text-center">
    <div>
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" />
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
    </div>
    <button>Login</button>
  </div>
</form>

<!-- FOOTER PARTIAL -->
<%- include('partials/footer'); %>
