<% layout('/layouts/boilerplate') %>

<form action="/signup" method="post">
  <div class="container">
    <div class="row position-absolute w-25 top-50 start-50 translate-middle">
      <h1>Sign Up!</h1>
      <label for="username" class="form-label">Display name: </label>
      <input class="form-control" type="text" name="username" id="username">
      <label for="email" class="form-label mt-3">Email: </label>
      <input class="form-control" type="email" name="email" id="email">
      <label for="password" class="form-label mt-3">Password: </label>
      <input class="form-control" type="password" name="password" id="password">
      <div>
        <input type="checkbox" value="checkbox" checked>
        <label for="checkbox">Opt-in to be added into news-letter</label>
      </div>
      <div class="w-75">
        <button class="btn btn-primary mt-3">Sign Up!</button>
      </div>
    </div>
  </div>
</form>
